.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .current-page:after {
    display: inline-block;
    content: " ";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background-color: #2196f3;
    height: 4px;
    border-radius: 2px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .adress {
    display: none;
  }
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .burger-btn .burger-icon {
    height: 40px;
    width: 40px;
    fill: #000000;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-btn .burger-icon:hover, .burger-btn .burger-icon:focus {
    fill: #2196f3;
  }
  .mobile-menu {
    padding: 48px 40px;
    position: absolute;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-200%);
            transform: translateX(-50%) translateY(-200%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
    overflow-y: scroll;
    z-index: 100;
  }
  .mobile-menu.is-open {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .mobile-menu__close-btn .close-icon {
    height: 40px;
    width: 40px;
    fill: #000000;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn .close-icon:hover, .mobile-menu__close-btn .close-icon:focus {
    fill: #2196f3;
  }
  .mobile-menu__list {
    margin: 0;
    padding: 0;
  }
  .mobile-menu__items:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__items:last-child {
    margin-bottom: 302px;
  }
  .mobile-menu__adress-list {
    margin: 0;
    padding: 0;
  }
  .mobile-menu__adress-items:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__adress-items:last-child {
    margin-bottom: 64px;
  }
  .mobile-menu__links {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    font-family: Roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__links:hover, .mobile-menu__links:focus {
    color: #2196f3;
  }
  .mobile-menu__adress-link-tel {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 200%;
    line-height: 0.85;
    letter-spacing: 0.02em;
    color: #2196f3;
    white-space: nowrap;
  }
  .mobile-menu__adress-link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 150%;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu__adress-link:focus, .mobile-menu__adress-link:hover {
    color: #2196f3;
  }
  .mobile-menu__sosial-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .mobile-menu__sosial-list-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__sosial-list-item:not(:first-child) {
    margin-left: 10px;
  }
  .mobile-menu__sosial-link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .logo {
    margin-right: 58px;
  }
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .site-nav__items:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Roboto, sans-serif;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196f3;
  }
  .adress {
    margin-left: auto;
  }
  .adress__list {
    margin: 0;
    padding: 0;
  }
  .adress__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Roboto, sans-serif;
    color: #757575;
    fill: #757575;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress__link:hover, .adress__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .adress__icon {
    display: inline-block;
    margin-right: 8px;
  }
  .adress__items:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    margin: 0 auto;
    max-width: 1600px;
  }
  .logo {
    margin-right: 93px;
  }
  .adress {
    margin-left: auto;
  }
  .adress__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
  }
  .adress__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .adress__items:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.hero {
  padding: 118px 0;
  margin: 0 auto;
  min-height: 400px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mob__hero/mob__hero-img);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mob__hero/mob__hero-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-devise-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mob__hero/mob__hero-img@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mob__hero/mob__hero-img@2x.jpg);
  }
}

.hero__titel {
  margin: 0 0 30px 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61538;
  letter-spacing: 0.06em;
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  color: #2196f3;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet__hero/tablet__hero-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet__hero/tablet__hero-img.jpg);
  }
}

@media screen and (min-width: 768px) and (min-devise-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet__hero/tablet__hero-img@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet__hero/tablet__hero-img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    min-height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop__hero/desktop__hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop__hero/desktop__hero.jpg);
  }
  .hero__titel {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36364;
  }
}

@media screen and (min-width: 1200px) and (min-devise-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop__hero/desktop__hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop__hero/desktop__hero@2x.jpg);
  }
}

.our-pluses {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-pluses__list {
  margin: 0;
  padding: 0;
}

.our-pluses__items {
  max-width: 450px;
}

.our-pluses__items:not(:last-child) {
  margin-bottom: 30px;
}

.our-pluses__text {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-pluses__heading {
  margin: 0;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-pluses__sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .our-pluses__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-pluses__items {
    width: calc((100% - 4 * 15px)/ 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-pluses {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-pluses__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .our-pluses__items {
    width: 270px;
  }
  .our-pluses__items:nth-child(2n) {
    margin-left: 0;
  }
  .our-pluses__items:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  .what-we-do {
    padding-bottom: 94px;
  }
  .what-we-do .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .what-we-do__heading {
    margin: 0;
    margin-bottom: 50px;
    font-family: Roboto, sans-serif;
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .what-we-do__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .what-we-do__items:not(:last-child) {
    margin-right: 30px;
  }
  .what-we-do__img {
    display: block;
  }
  .what-we-do__wrapper {
    position: relative;
  }
  .what-we-do__text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 27px 82px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.our-team {
  padding: 60px 0;
  background-color: #f5f4fa;
}

.our-team__heading {
  margin: 0;
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17857;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team__list {
  margin: 0;
  padding: 0;
}

.our-team__items {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__items:not(:last-child) {
  margin-bottom: 30px;
}

.our-team__img {
  margin-bottom: 30px;
  width: 100%;
}

.our-team__card-heading {
  margin: 0;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.our-team__text {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px auto 0;
  padding: 0;
  padding-bottom: 24px;
  max-width: 206px;
}

.our-team__social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__social-items:hover, .our-team__social-items:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.our-team__social-items:hover .icon, .our-team__social-items:focus .icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-team__items {
    width: calc((100% - 4 * 15px)/ 2);
    margin: 0 15px;
    margin-bottom: 30px;
  }
  .our-team__items:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__items {
    width: calc((100% - 8 * 15px)/ 4);
    margin: 0 15px;
  }
  .our-team__items:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17857;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.clients__items {
  width: calc((100% - 4 * 15px)/ 2);
  margin: 0 15px;
  margin-bottom: 30px;
}

.clients__items:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 210px;
  height: 90px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__items {
    width: calc((100% - 6 * 15px)/ 3);
    margin: 0 15px;
    margin-bottom: 30px;
  }
  .clients__items:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .clients__link {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 96px;
    padding-bottom: 92px;
  }
  .clients__heading {
    margin-bottom: 50px;
  }
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }
  .clients__link {
    max-width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__adress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo__footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer__adress-map {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__adress-items .footer__adress-map:hover,
.footer__adress-items .footer__adress-map:focus {
  color: #2196f3;
}

.footer__adress {
  margin-bottom: 60px;
}

.footer__adress-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.footer__adress-items {
  display: inline-block;
}

.footer__adress-items:not(:last-child) {
  margin-bottom: 8px;
}

.footer__adress-link {
  font-family: Roboto, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__adress-link:hover, .footer__adress-link:focus {
  color: #2196f3;
}

.footer .join-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.footer .join-us__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .join-us__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer .join-us__social-list-icons:not(:last-child) {
  margin-right: 10px;
}

.footer .join-us__social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .join-us__social-items:hover, .footer .join-us__social-items:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.footer .join-us__social-items .icon {
  fill: currentColor;
}

.footer .footer-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-sign__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-sign__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .footer-sign__input {
  padding: 15px 16px;
  min-width: 320px;
  max-width: 450px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer .footer-sign__input:focus {
  border-color: #2196f3;
  outline: none;
}

.footer .footer-sign__input::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-sign__input:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-sign__input::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-sign__input::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-sign__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
  padding: 10px 28px 10px 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer-sign__button:focus, .footer .footer-sign__button:hover {
  background-color: #188CE8;
  outline: none;
}

.footer .footer-sign__button .icon-send {
  margin-left: 8px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__adress-container,
  .footer .join-us {
    margin: 0 30px;
    width: calc((100% - 4 * 30px)/ 2);
  }
  .footer .footer-sign {
    width: 100%;
  }
  .footer .footer-sign__input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__adress-container {
    display: inline-block;
    margin: 0;
    margin-right: 70px;
  }
  .footer__adress-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__adress {
    margin-bottom: 0;
  }
  .footer .join-us {
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .footer-sign {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
  }
  .footer .footer-sign__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .footer-sign__input {
    margin-bottom: 0;
    min-width: 358px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 259ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 259ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 95%;
  max-height: 609px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: scroll;
}

.backdrop .modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 6px;
  width: 30px;
  height: 30px;
  outline: none;
  background: transparent;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal__close-btn:focus .icon-vector,
.backdrop .modal__close-btn:hover .icon-vector {
  fill: #2196f3;
}

.backdrop .modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backdrop .modal__form-heading {
  margin: 0;
  margin-bottom: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.backdrop .modal__form-label {
  margin-bottom: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: #757575;
}

.backdrop .modal__form-user-svg {
  position: relative;
  margin-bottom: 10px;
}

.backdrop .modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backdrop .modal__form-input {
  display: block;
  padding: 11px 42px;
  width: 100%;
  max-width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal__form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.backdrop .modal__form-input:focus + .modal__form-icon {
  fill: #2196f3;
}

.backdrop .modal__form-textarea {
  display: block;
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal__form-textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.backdrop .modal__form-textarea::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop .modal__form-textarea:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop .modal__form-textarea::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop .modal__form-textarea::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop .modal__form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.backdrop .modal__form-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 89%;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop .modal__form-checkbox-label::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 8px;
  content: " ";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
}

.backdrop .modal__form-checkbox:checked + .modal__form-checkbox-label::before {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/sprites/icon-checkk.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: border-box;
}

.backdrop .modal__form-user-link {
  margin-left: 3px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 90%;
  line-height: 1.714;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.backdrop .modal__form-button--submit {
  padding: 10px 55px;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal__form-button--submit:focus, .backdrop .modal__form-button--submit:hover {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .backdrop .modal {
    width: 528px;
    height: 581px;
    overflow: visible;
  }
  .backdrop .modal__form-heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4375;
  }
}
/*# sourceMappingURL=main.css.map */