$font-roboto: Roboto, sans-serif;
$font-raleway: Raleway, sans-serif;
$color-logo: #000000;
$color-accent: #2196f3;
$color-accent-button-form: #188CE8;
$color-project-border: #EEEEEE;
$color-heading: #212121;
$color-white: #ffffff;
$color-paragraph: #757575;
$color-footer-adres: rgba(255, 255, 255, 0.6);
$color-wrapper-text:rgba(47, 48, 58, 0.8);
$color-hero-bg: #2f303a;
$color-sosial-link:#AFB1B8;
$color-sosial-link-footer: #44454E;
$color-portfolio-button: #f5f4fa;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
